<!DOCTYPE html>
<html>
<head>
  <title>BourbonRefills</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
This is an app!
</header>
<%= yield %>

</body>
</html>
